
$site-nav-color: rgb(12%, 44%, 72%);

.c-site-nav {
  font-size: 1.25em;
  font-family: Colaborate;

  margin-top: $spacing;

}

.c-site-nav__item {

}

.c-site-nav__link {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;

  color: $site-nav-color;
  background-color: white;

  &:hover {
    text-decoration: underline;
  }

  user-select: none;
}

.c-site-nav__item--active span {
  display: inline-block;
  padding: 10px 20px;

  background-color: $site-nav-color;
  color: white;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  user-select: none;
}
