/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
  width: 100%;
}
  /* flip the pane when hovered */
  .flip-container:hover .flipper {
    transform: rotateY(180deg);
  }

.flip-container--fixed-width {
  width: 400px;
}

.flip-container, .front, .back {
  height: 400px;
}

/* flip speed goes here */
.flipper {
  transition: 1000ms;
  transform-style: preserve-3d;

}

/* hide back of pane during swap */
.front, .back {
  width: 100%;
  backface-visibility: hidden;

}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);

  //background-color: red;
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);

  //background-color: yellow;
}
