
.c-pledge-remaining {
  border-radius: 100px;
  color: white;
  background-color: green;
  padding-top: 7px;
  height: 68px;
  width: 68px;
  text-align: center;
  line-height: 0.85;
}

.c-pledge-remaining__number-of-days {
  @include font-size(30px, none);
}

.c-pledge-remaining__still {
  @include font-size(12px, none);
}

.c-pledge-remaining__days {
  @include font-size(12px, none);
}
