/*
 * Social media buttons
 */

$social-media-button-color: rgb(60%, 60%, 60%);

.c-social-media {
  margin-top: 12px;
  margin-bottom: 12px;
  text-align: center;
}

.c-social-media > li {
  display: inline-block;

  border: 1px solid $social-media-button-color;
  border-radius: 35px;
  width: 35px;
  height: 35px;
  margin: 0 5px;
}

.c-social-media__button {
  display: block;
}

.c-social-media__button > svg {
  width: 20px;
  height: 20px;
  margin: 7px;
  fill: $social-media-button-color;
  background-color: transparent;
}
