/*
 * 1. Show hand pointer if mouse is over an editable element.
 * 2. Set color for input placeholder text.
 */

$placeholder-color: gray;
$input-empty-background: beige;
$input-valid-background: palegreen;
$input-invalid-background: mistyrose;

.c-input {
  display: inline-block;

  span {
    cursor: pointer; /* [1] */
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0.25em 0;
    border-top: 2px solid transparent;
  }

  input {
    max-width: 100%;
    transition: background-color 0.5s;
    border: none;
    padding: 0;
    margin: 0;
    height: 30px;
    vertical-align: 1px;
  }

  ::-webkit-input-placeholder,
  :-moz-placeholder,
  ::-moz-placeholder,
  :-ms-input-placeholder {
    color: $placeholder-color; /* [2] */
    opacity: 1; /* [2] */
  }
}

.c-input--empty {
  input {
    background-color: $input-empty-background;
  }
}

.c-input--invalid {
  input {
    background-color: $input-invalid-background;
  }
}

.c-input--valid {
  span {
    &:hover {
      background-color: darken($input-empty-background, 10%);
    }

    border-bottom: 2px dotted gray;
  }

  input {
    background-color: $input-valid-background;
  }
}

.c-input--pledge input {
  width: 20em;
}

.c-input--howmany input {
  width: 5em;
}

.c-input--who input {
  width: 17em;
}

.c-input--what input {
  width: 30em;
}
