
.c-container {
  border: 1px solid $text-color;

  margin-bottom: $spacing;

  input[type="text"], input[type="email"], textarea {
    width: 100%;
  }
}

.c-report-box {
  background-color: rgb(245, 245, 245);
  border: 1px solid rgb(179, 179, 179);
  border-radius: 5px;
}
